<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shiftTypeOverride">
            <h2><span jhiTranslate="hospitalmanagerApp.shiftTypeOverride.detail.title">Shift Type Override</span> {{shiftTypeOverride.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.shiftTypeOverride.shiftType">Shift Type</span></dt>
                <dd>
                    <div *ngIf="shiftTypeOverride.shiftTypeId">
                        <a [routerLink]="['/shift-type', shiftTypeOverride.shiftTypeId, 'view']">{{shiftTypeOverride.shiftTypeId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftTypeOverride.canOverride">Can Override</span></dt>
                <dd>
                    <div *ngIf="shiftTypeOverride.canOverrideId">
                        <a [routerLink]="['/shift-type', shiftTypeOverride.canOverrideId, 'view']">{{shiftTypeOverride.canOverrideId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shift-type-override', shiftTypeOverride.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
