<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.shiftTypeOverride.home.title">Shift Type Overrides</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift-type-override" [routerLink]="['/shift-type-override/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hospitalmanagerApp.shiftTypeOverride.home.createLabel">
            Create new Shift Type Override
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shiftTypeOverrides">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shiftTypeId"><span jhiTranslate="hospitalmanagerApp.shiftTypeOverride.shiftType">Shift Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="canOverrideId"><span jhiTranslate="hospitalmanagerApp.shiftTypeOverride.canOverride">Can Override</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shiftTypeOverride of shiftTypeOverrides ;trackBy: trackId">
                <td><a [routerLink]="['/shift-type-override', shiftTypeOverride.id, 'view' ]">{{shiftTypeOverride.id}}</a></td>
                <td>
                    <div *ngIf="shiftTypeOverride.shiftTypeId">
                        <a [routerLink]="['../shift-type', shiftTypeOverride.shiftTypeId , 'view' ]" >{{shiftTypeOverride.shiftTypeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shiftTypeOverride.canOverrideId">
                        <a [routerLink]="['../shift-type', shiftTypeOverride.canOverrideId , 'view' ]" >{{shiftTypeOverride.canOverrideId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shift-type-override', shiftTypeOverride.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shift-type-override', shiftTypeOverride.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shift-type-override', { outlets: { popup: shiftTypeOverride.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shiftTypeOverrides && shiftTypeOverrides.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
