<ng-template #eventActionsTemplate let-event="event">
    <div class="btn-group">
        <button (click)="eventAction('Edit', event)" class="btn btn-primary btn-sm" type="submit">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button (click)="eventAction('Remove', event)" class="btn btn-danger btn-sm" type="submit">
            <fa-icon [icon]="'times'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</ng-template>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <ng-container *ngIf="day.events.length > 0" class="cal-cell-row">
            <span>{{'hospitalmanagerApp.WishType.' + day.events[0].wish.wishType | translate}}</span>
            <a (click)="eventAction('Edit', day.events[0])">
                <fa-icon ngbTooltip="Edit" [icon]="'pencil-alt'"></fa-icon>
            </a>
            <a (click)="eventAction('Remove', day.events[0])">
                <fa-icon ngbTooltip="Delete" [icon]="'times'"></fa-icon>
            </a>
        </ng-container>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <ng-container *ngIf="day.events.length > 0">
        <div *ngFor="let shiftType of day.events[0].wish.shiftTypes" class="cal-cell-row">
            <b><span>{{shiftType.name}}</span></b>
        </div>
    </ng-container>
</ng-template>
<ng-template #explanationPopoverTitle><span jhiTranslate="hospitalmanagerApp.workerAvailability.explain.title">Explain
        title</span></ng-template>
<ng-template #explanationPopoverContent><span
        jhiTranslate="hospitalmanagerApp.workerAvailability.explain.content">Explain content</span></ng-template>
<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.workerAvailability.home.title">Worker Availabilities</span>
        <fa-icon [ngbPopover]="explanationPopoverContent" triggers="mouseenter:mouseleave" class="d-none d-md-inline"
            style="cursor: pointer;" [icon]="'question-circle'"></fa-icon>
    </h2>
</div>
<br />
<div class="row text-center">
    <div class="col-md-2">
        <h5>{{ getSelectedUser() ? getSelectedUser().name : '' }}</h5>
    </div>
    <div class="col-md-2">
        <div>
            <button *ngIf="showEditButton" type="submit" id="edit-worker-availability"
                class="btn btn-primary self-align-center" (click)="enableEditButton(false)">
                <fa-icon class="d-none d-md-inline" [icon]="'pencil-alt'"></fa-icon>
                &nbsp;
                <span jhiTranslate="entity.action.editWishes">Edit Wishes</span>
            </button>

            <button *ngIf="showClearButton" class="btn btn-danger self-align-center" (click)="clearWish()">
                <fa-icon [icon]="'trash'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.clear">Clear</span>
            </button>

            <button *ngIf="editMode" type="submit" id="save-worker-availability" class="btn btn-success"
                (click)="saveWorkerAvailability()">
                <fa-icon class="d-none d-md-inline" [icon]="'save'"></fa-icon>
                &nbsp;
                <span jhiTranslate="entity.action.save">Save</span>
            </button>
            <button *ngIf="editMode" type="submit" id="cancel-worker-availability" class="btn btn-danger"
                (click)="enableEditButton(true)">
                <fa-icon class="d-none d-md-inline" [icon]="'ban'"></fa-icon>
                &nbsp;
                <span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }} {{ getWeekNumbers() }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div *ngIf="!editMode">
                <div (viewDateChange)="viewDateChanged($event)" [(viewDate)]="viewDate" [view]="view"
                    class="btn btn-primary" mwlCalendarPreviousView>
                    Previous
                </div>
                <div (viewDateChange)="viewDateChanged($event)" [(viewDate)]="viewDate"
                    class="btn btn-outline-secondary" mwlCalendarToday>
                    Today
                </div>
                <div (viewDateChange)="viewDateChanged($event)" [(viewDate)]="viewDate" [view]="view"
                    class="btn btn-primary" mwlCalendarNextView>
                    Next
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <jhi-alert-error></jhi-alert-error>
</div>
<div class="row">
    <div class="col-md-2" style="overflow: scroll;">
        <input type="text" class="form-control" id="userSearch" name="userSearch"
            placeholder="{{'global.form.search' | translate}}" [(ngModel)]="userFilter"
            (ngModelChange)="filterUsers()" />
        <div class="custom-control custom-radio" style="max-height: 150px">
            <div *ngFor="let user of users">
                <input type="radio" class="custom-control-input" [checked]="user.id === selectedUserId"
                    id="radio-{{user.id}}" name="users" mdbInput (click)="userWasSelected(user.id)">
                <label class="custom-control-label" for="radio-{{user.id}}"
                    [ngbTooltip]="user.name">{{user.name | trim : 40}}</label>
            </div>
        </div>
    </div>
    <div class="col-md padding-0" [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [events]="events" [refresh]="refresh"
            [viewDate]="viewDate" (dayClicked)="dayClicked($event.day)"
            (beforeViewRender)="beforeMonthViewRender($event)" weekStartsOn="1" [cellTemplate]="customCellTemplate"
            [eventActionsTemplate]="eventActionsTemplate">
        </mwl-calendar-month-view>
    </div>
</div>
