<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workerAvailability">
            <h2><span jhiTranslate="hospitalmanagerApp.workerAvailability.detail.title">Worker Availability</span> {{workerAvailability.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.workerAvailability.dateFrom">Date From</span></dt>
                <dd>
                    <span>{{workerAvailability.dateFrom}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.workerAvailability.dateTo">Date To</span></dt>
                <dd>
                    <span>{{workerAvailability.dateTo}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.workerAvailability.isAvailable">Is Available</span></dt>
                <dd>
                    <span>{{workerAvailability.isAvailable}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.workerAvailability.user">User</span></dt>
                <dd>
                    {{workerAvailability.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/worker-availability', workerAvailability.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
