<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-worker-availability-heading" jhiTranslate="hospitalmanagerApp.workerAvailability.home.createOrEditLabel">Create or edit a Worker Availability</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.workerAvailability.dateFrom" for="field_dateFrom">Date From</label>
                    <div class="input-group">
                        <input id="field_dateFrom" type="text" class="form-control" name="date" ngbDatepicker  #datePickerFrom="ngbDatepicker" formControlName="dateFrom" (click)="datePickerFrom.toggle()" readonly/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePickerFrom.toggle()"><fa-icon [icon]="'calendar-alt'" disabled></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.workerAvailability.dateTo" for="field_dateTo">Date To</label>
                    <div class="input-group">
                        <input id="field_dateTo" type="text" class="form-control" name="date" ngbDatepicker  #datePickerTo="ngbDatepicker" formControlName="dateTo" (click)="datePickerTo.toggle()" readonly/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePickerTo.toggle()"><fa-icon [icon]="'calendar-alt'" disabled></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.workerAvailability.isAvailable" for="field_isAvailable">Is Available</label>
                    <input type="checkbox" class="form-control" name="isAvailable" id="field_isAvailable"
                           formControlName="isAvailable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.workerAvailability.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.lastName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
