<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wish-heading" jhiTranslate="hospitalmanagerApp.wish.home.createOrEditLabel">Create or edit a Wish</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wish.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker
                           #dateDp="ngbDatepicker" formControlName="date" readonly/>
                    <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()" disabled><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wish.wishType" for="field_wishType">Wish Type</label>
                    <select class="form-control" name="wishType" formControlName="wishType" id="field_wishType">
                        <option value="ONLY">{{'hospitalmanagerApp.WishType.ONLY' | translate}}</option>
                        <option value="EXCEPT">{{'hospitalmanagerApp.WishType.EXCEPT' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('wishType').invalid && (editForm.get('wishType').dirty || editForm.get('wishType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wishType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wish.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId" (change)="loadUserShiftTypes()" readonly disabled>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users | async; trackBy: trackUserById">{{userOption.firstName}} {{userOption.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_shiftTypes" jhiTranslate="hospitalmanagerApp.wish.shiftTypes">Shift
                        Types</label>
                    <ng-select id="field_shiftTypes"
                               formControlName="shiftTypes"
                               [items]="shiftTypes | async"
                               bindLabel="name"
                               autofocus
                               bindValue="id"
                               multiple="true"
                               [closeOnSelect]="false"
                    ></ng-select>
                </div>
                <div class="form-group">
                    <ng-template #createWholeMonthPopover><span jhiTranslate="hospitalmanagerApp.wish.createWholeMonthPopover">Create/Update whole month</span></ng-template>
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wish.createWholeMonth"
                           for="field_createWholeMonth" [ngbPopover]="createWholeMonthPopover" triggers="mouseenter:mouseleave">Create/Update whole month</label>
                    <input type="checkbox" class="form-control" name="createWholeMonth" id="field_createWholeMonth"
                           formControlName="createWholeMonth" (change)="addWeekDay()"/>
                </div>
                <ng-container *ngIf="editForm.get('createWholeMonth').value">
                    <span>Month: {{editForm.get('date').value.format('M')}}</span>
                    <span>Year: {{editForm.get('date').value.format('YYYY')}}</span>
                    <div class="form-group" style="padding-top: 20px">
                        <label for="field_weekDays" jhiTranslate="hospitalmanagerApp.wish.weekDays">Days of
                            week</label>
                    </div>
                    <div class="form-group">
                        <ng-select id="field_weekDays"
                                   formControlName="weekDays"
                                   [items]="weekDays"
                                   bindLabel="name"
                                   autofocus
                                   bindValue="id"
                                   multiple="true"
                                   [closeOnSelect]="false"
                                   required
                        ></ng-select>
                    </div>
                </ng-container>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wish.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
