<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wish">
            <h2><span jhiTranslate="hospitalmanagerApp.wish.detail.title">Wish</span> {{wish.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.wish.comment">Comment</span></dt>
                <dd>
                    <span>{{wish.comment}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.wish.dateFrom">Date From</span></dt>
                <dd>
                    <span>{{wish.dateFrom}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.wish.dateTo">Date To</span></dt>
                <dd>
                    <span>{{wish.dateTo}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.wish.wishType">Wish Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'hospitalmanagerApp.WishType.' + wish.wishType}}">{{wish.wishType}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.wish.user">User</span></dt>
                <dd>
                    {{wish.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wish', wish.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
