<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.userDependencies.home.title">User Shift Types</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive container-fluid" *ngIf="users$ | async">
        <table class="table table-striped">
            <thead>
            <tr class="d-flex">
            <th class="col-2"><span jhiTranslate="hospitalmanagerApp.userDependencies.user">User</span></th>
            <th *ngIf="hasSpecializations$ | async" class="col-5"><span jhiTranslate="hospitalmanagerApp.userDependencies.specializations">Specializations</span></th>
            <th [ngClass]="(hasSpecializations$ | async) ? 'col-5': 'col-10'"><span jhiTranslate="hospitalmanagerApp.userDependencies.shiftType">Shift Type</span></th>
            </tr>
            <tr>
                <th><input type="text" class="form-group" [(ngModel)]="userFilter"
                    (ngModelChange)="filterUsers()" /></th>              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users ;trackBy: trackId" class="d-flex">
                <td class="col-2">{{user.name}}</td>
                <td *ngIf="hasSpecializations$ | async" class="col-5">
                    <div class="form-group">
                        <ng-select id="field_shiftTypes"
                                   [items]="specializations"
                                   bindLabel="name"
                                   bindValue="id"
                                   multiple="true"
                                   [closeOnSelect]="false"
                                   [(ngModel)]="user.specializations"
                                   (ngModelChange)="changedUserSpecializations(user)"
                        ></ng-select>
                    </div>
                </td>
                <td [ngClass]="(hasSpecializations$ | async) ? 'col-5': 'col-10'">
                    <div class="form-group">
                        <ng-select id="field_shiftTypes"
                                   [items]="shiftTypes$ | async"
                                   bindLabel="name"
                                   bindValue="id"
                                   multiple="true"
                                   [closeOnSelect]="false"
                                   [(ngModel)]="user.shiftTypes"
                                   (ngModelChange)="changedUserShiftTypes(user)"
                        ></ng-select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
