<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <fa-icon [icon]="'plus'"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="firstName"><span jhiTranslate="userManagement.firstName">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastName"><span jhiTranslate="userManagement.lastName">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <!-- <th jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                <th jhiSortBy="organizationName"> <span jhiTranslate="userManagement.organization">Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <!-- <th jhiSortBy="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th><span jhiTranslate="userManagement.profiles">Profiles</span></th>
                <!-- <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                <th *jhiHasAnyAuthority="['ROLE_ADMIN']"></th>
            </tr>
            <tr>
                <th><input type="text" class="form-control" [(ngModel)]="firstNameFilter"
                        (ngModelChange)="filterChanged()" /></th>
                 <th><input type="text" class="form-control" [(ngModel)]="lastNameFilter"
                            (ngModelChange)="filterChanged()" /></th>
                <th><input type="text" class="form-control" [(ngModel)]="emailFilter"
                        (ngModelChange)="filterChanged()" /></th>
                </th>
            </tr>
            </thead>
            <tbody *ngIf ="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <!-- <td><a [routerLink]="['./', user.login, 'view']">{{user.login}}</a></td> -->
                <td>{{user.email}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                            jhiTranslate="userManagement.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="currentAccount.login === user.login" jhiTranslate="userManagement.activated">Activated</button>
                </td>

                <td [ngSwitch]="hasAuthority('ROLE_ADMIN')">
                    <select *ngSwitchCase="true" class="form-control" id="field_priority" name="priority" [(ngModel)]="user.organizationId" (ngModelChange)="changeOrganization(user)">
                        <option [value]="null"></option>
                        <option [value]="organization.id" *ngFor="let organization of organizations; trackBy: trackOrganizationById">{{organization.name}}</option>
                    </select>
                    <span *ngSwitchCase="false">{{user.organization ? user.organization.name : ''}}</span>
                </td>
                <!-- <td>{{user.langKey}}</td> -->
                <td>
                    <div *ngFor="let authority of user.authorities">
                        <span class="badge badge-info">{{ authority }}</span>
                    </div>
                </td>
                <!-- <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td> -->
                <td *jhiHasAnyAuthority="['ROLE_ADMIN']" class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['./', user.login, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['./', user.login, 'edit']"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
