<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wish-shift-type-heading" jhiTranslate="hospitalmanagerApp.wishShiftType.home.createOrEditLabel">Create or edit a Wish Shift Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!wishShiftType.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wishShiftType.wish" for="field_wish">Wish</label>
                    <select class="form-control" id="field_wish" name="wish" formControlName="wishId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="wishOption.id" *ngFor="let wishOption of wishes; trackBy: trackWishById">{{wishOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.wishShiftType.shiftType" for="field_shiftType">Shift Type</label>
                    <select class="form-control" id="field_shiftType" name="shiftType" formControlName="shiftTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shiftTypeOption.id" *ngFor="let shiftTypeOption of shifttypes; trackBy: trackShiftTypeById">{{shiftTypeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
