<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.wishShiftType.home.title">Wish Shift Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wish-shift-type" [routerLink]="['/wish-shift-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hospitalmanagerApp.wishShiftType.home.createLabel">
            Create new Wish Shift Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wishShiftTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hospitalmanagerApp.wishShiftType.wish">Wish</span></th>
            <th><span jhiTranslate="hospitalmanagerApp.wishShiftType.shiftType">Shift Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wishShiftType of wishShiftTypes ;trackBy: trackId">
                <td><a [routerLink]="['/wish-shift-type', wishShiftType.id, 'view' ]">{{wishShiftType.id}}</a></td>
                <td>
                    <div *ngIf="wishShiftType.wishId">
                        <a [routerLink]="['../wish', wishShiftType.wishId , 'view' ]" >{{wishShiftType.wishId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="wishShiftType.shiftTypeId">
                        <a [routerLink]="['../shift-type', wishShiftType.shiftTypeId , 'view' ]" >{{wishShiftType.shiftTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/wish-shift-type', wishShiftType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wish-shift-type', wishShiftType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'wish-shift-type', { outlets: { popup: wishShiftType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
