<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wishShiftType">
            <h2><span jhiTranslate="hospitalmanagerApp.wishShiftType.detail.title">Wish Shift Type</span> {{wishShiftType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.wishShiftType.wish">Wish</span></dt>
                <dd>
                    <div *ngIf="wishShiftType.wishId">
                        <a [routerLink]="['/wish', wishShiftType.wishId, 'view']">{{wishShiftType.wishId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.wishShiftType.shiftType">Shift Type</span></dt>
                <dd>
                    <div *ngIf="wishShiftType.shiftTypeId">
                        <a [routerLink]="['/shift-type', wishShiftType.shiftTypeId, 'view']">{{wishShiftType.shiftTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wish-shift-type', wishShiftType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
