<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="specialization">
            <h2><span jhiTranslate="hospitalmanagerApp.specialization.detail.title">Specialization</span> {{specialization.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.specialization.name">Name</span></dt>
                <dd>
                    <span>{{specialization.name}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.specialization.description">Description</span></dt>
                <dd>
                    <span>{{specialization.description}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.specialization.organization">Organization</span></dt>
                <dd>
                    <div *ngIf="specialization.organizationId">
                        <a [routerLink]="['/organization', specialization.organizationId, 'view']">{{specialization.organizationId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/specialization', specialization.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
