<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <ng-container *ngIf="day.events.length > 0">
        <div *ngFor="let event of day.events" class="cal-cell-row">
            <small class="w-100 event-line" (click)="eventAction($event, 'Edit', event)">
                <div class="badge w-100"
                    [ngClass]="getEventBadgeColor(event.meta.supposedWorkers, event.meta.numberAvailable)"
                    [ngbPopover]="eventDetails"  [popoverTitle]="event.meta.shiftName"
                    triggers="mouseenter:mouseleave">
                    <ng-template #eventDetails>
                        <p>
                            {{event.meta.numberAvailable}} / {{event.meta.supposedWorkers}}
                        </p>
                       <p *ngFor="let user of event.meta.users">
                             {{user.firstName}}  {{user.lastName}}
                       </p>
                    </ng-template>
                    <span style="float: left;">{{event.title}}</span>
                    <span style="float: right;">
                        <a *ngIf="isManager" (click)="eventAction($event, 'Remove', event)">
                            <fa-icon ngbTooltip="Delete" [icon]="'times'"></fa-icon>
                        </a>
                    </span>
                </div>
            </small>
        </div>
    </ng-container>
</ng-template>

<ng-template #explanationPopoverContent><span jhiTranslate="calendar.explain.content">Explain content</span>
</ng-template>

<h2 id="page-heading">
    <span class="red-test" jhiTranslate="calendar.title">Calendar</span>
    <fa-icon [ngbPopover]="explanationPopoverContent" triggers="mouseenter:mouseleave" class="d-none d-md-inline"
        style="cursor: pointer;" [icon]="'question-circle'"></fa-icon>
</h2>

<div *ngIf="isManager">
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift"
        [routerLink]="['/shift/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span jhiTranslate="hospitalmanagerApp.shift.home.createLabel">
            Create new Shift
        </span>
    </button>
</div>
<form class="form-inline" *ngIf="isManager">
    <month-and-year-selection [viewDate] = "viewDate" (viewDateChanged)="loadData($event)"></month-and-year-selection>

    <div class="form-group mx-sm-3 mb-2">
        <button type="button" id="save-entity" class="btn btn-primary mr-1" (click)="confirmShiftsGeneration()"
            [disabled]="isDisabled">
            <fa-icon [icon]="'asterisk'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.generate">Generate</span>
        </button>
        <button type="button" id="cancel-save" class="btn btn-danger" (click)="clear()">
            <fa-icon [icon]="'trash'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.clear">Clear</span>
        </button>
    </div>
</form>
<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="headerView" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay(); loadData($event)" jhiTranslate="calendar.previous">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay(); loadData($event)" jhiTranslate="calendar.today">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="headerView" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay(); loadData($event)" jhiTranslate="calendar.next">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(headerView + 'ViewTitle'):'en' }} {{ getWeekNumbers() }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month); loadData(viewDate)"
                [class.active]="view === CalendarView.Month" jhiTranslate="calendar.monthView">
                Month
            </div>
            <!--            <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
                jhiTranslate="calendar.weekView"
            >
                Week
            </div>
            <div
                class="btn btn-primary"
                (click)="setView(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
                jhiTranslate="calendar.dayView"
            >
                Day
            </div>-->
            <div class="btn btn-primary" (click)="setView(CalendarView.Users)" [class.active]="view === 'users'"
                jhiTranslate="calendar.teamView">
                Team
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <jhi-alert-error></jhi-alert-error>
</div>
<div [ngSwitch]="view">
    <mwl-calendar-month-view #calendarMonthView *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
        [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (beforeViewRender)="beforeMonthViewRender($event)" (eventTimesChanged)="eventTimesChanged($event)"
        [cellTemplate]="customCellTemplate" weekStartsOn="1">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view #calendarWeekView *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)" weekStartsOn="1">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view #calendarDayView *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
    <user-month-view *ngSwitchCase="CalendarView.Users" [viewDate]="viewDate" [userAllocations]="userAllocations"
        [dayConfigs]="dayConfigs" [shifts]="shifts">
    </user-month-view>
</div>
