<div class="cal-container">
    <table class="table table-bordered table-hover" style="width: 100%">
        <thead>
            <tr>
                <th class="first-col text-center">
                    <small>
                        <input type="text" class="form-control" id="userSearch" name="userSearch"
                            placeholder="{{'global.form.search' | translate}}" [(ngModel)]="userFilter"
                            (ngModelChange)="filterUsers()" />
                    </small>
                </th>
                <th *ngFor="let day of getDays()"
                    [ngClass]="{'weekend':isWeekend(day), 'cust-col': true, 'text-center': true}">{{day}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of datasource; let i = index" class="cal-container"
                [ngStyle]="{'background-color': line[0].user.id === currentUserId ? '#05f0d8' : ''}">
                <th class="first-col"
                    [ngStyle]="{'background-color': line[0].user.id === currentUserId ? '#05f0d8' : ''}">
                    <small [ngbTooltip]="line[0].user.name" placement="right">
                        {{line[0].user.name | trim : 50 }}
                    </small>
                </th>
                <td *ngFor="let day of getDays(); let j = index"
                    [ngClass]="{'weekend':isWeekend(day), 'allowDayConfigPaste':isDayConfigPasteAllowed(day), 'cust-col': true, 'text-center': true}"
                    (click)="dayClicked({line: i, day: day})">
                    <div *ngIf="line[day].holiday" class="badge badge-secondary">U</div>
                    <div *ngFor="let shiftType of line[day].shiftTypes" class="badge box"
                        [ngClass]="isShiftMarkedForDeletion({shiftType: shiftType, line: i, day: day}) ? 'badge-danger' : 'badge-light'"
                        (click)="shiftClicked({shiftType: shiftType, line: i, day: day})">
                        {{shiftType.displayCode}}
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="isManager">
                <th class="first-col">
                    <div *ngIf="!isShiftDeletionActive">
                        <span jhiTranslate="hospitalmanagerApp.dayConfig.detail.title">Day Config</span>
                        <div>
                            <button *ngIf="!!selectedDayConfig" type="submit" id="finish-shifts-assignment"
                                class="btn btn-success self-align-center" (click)="finishShiftsAssignment()">
                                <fa-icon [icon]="'trash'"></fa-icon>
                                &nbsp;
                                <span jhiTranslate="entity.action.finishShiftsAssignment">Finish Shifts
                                    Assignment</span>
                            </button>
                            <button *ngIf="!selectedDayConfig" type="submit" id="activate-shift-deletion"
                                class="btn btn-primary self-align-center" (click)="enableShiftDeletion(true)">
                                <fa-icon [icon]="'trash'"></fa-icon>
                                &nbsp;
                                <span jhiTranslate="entity.action.shiftsDeletionMode">Shifts Deletion Mode</span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="isShiftDeletionActive">
                        <span jhiTranslate="hospitalmanagerApp.shift.delete.affirmation"
                            [translateValues]="{number: shiftsSelectedForDeletion.length}">
                        </span>
                        <br />
                        <button *ngIf="shiftsSelectedForDeletion.length > 0" class="btn btn-danger self-align-center"
                            (click)="deleteShifts()">
                            <fa-icon [icon]="'trash'"></fa-icon>
                            &nbsp;
                            <span jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit" id="cancel-worker-availability" class="btn btn-danger"
                            (click)="enableShiftDeletion(false)">
                            <fa-icon class="d-none d-md-inline" [icon]="'ban'"></fa-icon>
                            &nbsp;
                            <span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </th>
                <th *ngFor="let day of getDays(); let i = index"
                    [ngClass]="{'weekend':isWeekend(day), 'cust-col': true, 'text-center': true}">
                    <div *ngIf="dayConfigShiftTypes[day] && dayConfigShiftTypes[day].length > 0 && !isShiftDeletionActive"
                        class="text-center">
                        <ng-container *ngFor="let dayConfigShiftType of dayConfigShiftTypes[day]">
                            <span class="badge box" [ngClass]="getDayConfigBadgeColor(dayConfigShiftType)"
                                [ngStyle]="{'font-size': getDayConfigFontSize({shiftType: dayConfigShiftType.shiftType, day: day})}"
                                (click)="dayConfigClicked({shiftType: dayConfigShiftType.shiftType, day: day})">
                                {{dayConfigShiftType.shiftType.displayCode}}
                            </span>
                        </ng-container>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>