/* Use overflow:scroll on your container to enable scrolling: */

.cal-container {
  overflow-x: auto;
  max-height: 650px;
}

.cell-info {
  height: 25px;
  width: 35px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}
.cell {
  height: 15px;
  width: 15px;
}

.box {
  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.list {
  min-height: 25px;
  min-width: 25px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  text-align: center;
}

/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

td {
  max-height: 25px !important;
  width: 23px !important;
  padding: 2px;
}

thead {
  height: 25px;
}

thead tr {
  height: 25px !important;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  height: 23px;
  width: 25px;
  padding: 5px;
  background: #fff;
  color: #000;
}

tfoot {
  height: 25px;
}

tfoot tr {
  height: 25px;
}

tfoot th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  bottom: 0;
  height: 23px;
  width: 23px;
  padding: 5px;
  background: #fff;
  color: #000;
}

tfoot th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #fff;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: 1;
}

.first-col {
  min-width: 12em !important;
  margin-left: -12em !important;
  max-height: 25px;
  padding: 2px !important;
  font-weight: bold;
  vertical-align: middle;
}

.holiday {
  background-color: #7f7f7f;
}

.weekend {
  background-color: #dcdcdc !important;
  color: black;
}

.allowDayConfigPaste {
  background-color: #18bc9c !important;
}

tr {
  height: 25px !important;
}

.shift {
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
}

.badge-notify {
  position: relative;
  top: -10px;
  left: -10px;
  font-size: 8px;
}
