<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.shift.home.title">Shifts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift"
            [routerLink]="['/shift/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="hospitalmanagerApp.shift.home.createLabel">
                Create new Shift
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="shifts">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="start"><span jhiTranslate="hospitalmanagerApp.shift.start">Start</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="end"><span jhiTranslate="hospitalmanagerApp.shift.end">End</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="shiftTypeName"><span jhiTranslate="hospitalmanagerApp.shift.shiftType">Shift
                            Type</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th><span jhiTranslate="hospitalmanagerApp.shift.workers">Workers</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of shifts ;trackBy: trackId">
                    <td>{{shift.start | date:'medium'}}</td>
                    <td>{{shift.end | date:'medium'}}</td>
                    <td>
                        <div *ngIf="shift.shiftTypeId">
                            <a
                                [routerLink]="['../shift-type', shift.shiftTypeId , 'view' ]">{{shift.shiftType.name}}</a>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let user of shift.users; let last = last">
                            {{user.lastName}}{{last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/shift', shift.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/shift', shift.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'shift', { outlets: { popup: shift.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shifts && shifts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
