<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shift-heading" jhiTranslate="hospitalmanagerApp.shift.home.createOrEditLabel">Shift</h2>
            <div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shift.date"
                        for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" formControlName="date" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shift.shiftType"
                        for="field_readonly_shiftType">Shift Type</label>
                    <input class="form-control" id="field_readonly_shiftType" name="shiftType" formControlName="shiftTypeName" readonly/>
                </div>
                <div class="form-group">
                    <label for="field_workers" jhiTranslate="hospitalmanagerApp.shift.workers">Workers</label>
                    <ng-select id="field_workers" formControlName="users" [items]="users" bindLabel="name" autofocus
                        bindValue="id" multiple="true" [closeOnSelect]="false"></ng-select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="close(['cancel'])">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button *ngIf="isManager" type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <button *ngIf="isManager" type="button" id="delete-entity" class="btn btn-danger" (click)="delete()">
                    <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </div>
        </form>
    </div>
</div>
