<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shift-heading" jhiTranslate="hospitalmanagerApp.shift.home.createOrEditLabel">Shift</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shift.date"
                        for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker [disabled]="!isCreate"
                            #dateDp="ngbDatepicker" formControlName="date" (click)="dateDp.toggle()"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                    <div
                        *ngIf="editForm.get('date').invalid && (editForm.get('date').dirty || editForm.get('date').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('date').errors.required"
                            jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shift.shiftType"
                        for="field_shiftType">Shift Type</label>
                    <select class="form-control" id="field_shiftType" name="shiftType" formControlName="shiftTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shiftTypeOption.id"
                            *ngFor="let shiftTypeOption of shiftTypes$ | async; trackBy: trackShiftTypeById">
                            {{shiftTypeOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_workers" jhiTranslate="hospitalmanagerApp.shift.workers">Workers</label>
                    <ng-select id="field_workers" formControlName="users" [items]="users" bindLabel="name" autofocus
                        bindValue="id" multiple="true" [closeOnSelect]="false"></ng-select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button *ngIf="isManager" type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
