<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.shiftDay.home.title">Shift Days</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift-day" [routerLink]="['/shift-day/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hospitalmanagerApp.shiftDay.home.createLabel">
            Create new Shift Day
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shiftDays?.length === 0">
        <span jhiTranslate="hospitalmanagerApp.shiftDay.home.notFound">No shiftDays found</span>
    </div>
    <div class="table-responsive" *ngIf="shiftDays?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dayOfWeek"><span jhiTranslate="hospitalmanagerApp.shiftDay.dayOfWeek">Day Of Week</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shiftTypeId"><span jhiTranslate="hospitalmanagerApp.shiftDay.shiftType">Shift Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shiftDay of shiftDays ;trackBy: trackId">
                <td><a [routerLink]="['/shift-day', shiftDay.id, 'view' ]">{{shiftDay.id}}</a></td>
                <td>{{shiftDay.dayOfWeek}}</td>
                <td>
                    <div *ngIf="shiftDay.shiftTypeId">
                        <a [routerLink]="['../shift-type', shiftDay.shiftTypeId , 'view' ]" >{{shiftDay.shiftTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shift-day', shiftDay.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shift-day', shiftDay.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shift-day', { outlets: { popup: shiftDay.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="shiftDays?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
