<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shiftDay">
            <h2><span jhiTranslate="hospitalmanagerApp.shiftDay.detail.title">Shift Day</span> {{shiftDay.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.shiftDay.dayOfWeek">Day Of Week</span></dt>
                <dd>
                    <span>{{shiftDay.dayOfWeek}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftDay.shiftType">Shift Type</span></dt>
                <dd>
                    <div *ngIf="shiftDay.shiftTypeId">
                        <a [routerLink]="['/shift-type', shiftDay.shiftTypeId, 'view']">{{shiftDay.shiftTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shift-day', shiftDay.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
