<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">Hospitalmanager</span> <span
            class="navbar-version">{{version}}</span>
        <span class="badge badge-light" *ngIf="organizationName$ | async">{{organizationName$ | async}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
        [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_TEAM_MANAGER', 'ROLE_TEAM_MEMBER']" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/calendar" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="calendar-alt"></fa-icon>
                        <span jhiTranslate="global.menu.calendar">Calendar</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngIf="hasAnyAuthority(['ROLE_ADMIN', 'ROLE_ORG_MANAGER']) || (hasAnyAuthority(['ROLE_TEAM_MANAGER']) && isTeamManager$ | async)" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ORG_MANAGER']">
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="organization" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon icon="sitemap" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.organization">Organization</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN']">
                        <a class="dropdown-item" routerLink="specialization" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon icon="sitemap" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.specialization">Specialization</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ORG_MANAGER']">
                        <a class="dropdown-item" routerLink="team" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="sitemap" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.team">Team</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_TEAM_MANAGER']">
                        <a class="dropdown-item" routerLink="user-dependencies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="sitemap" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.userDependencies">User Dependencies</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_TEAM_MANAGER']">
                        <a class="dropdown-item" routerLink="shift-type" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.shiftType">Shift Type</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_TEAM_MANAGER']">
                        <a class="dropdown-item" routerLink="day-config" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.dayConfig">Day Config</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_TEAM_MANAGER']">
                        <a class="dropdown-item" routerLink="worker-availability" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.workerAvailability">Worker Availability</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *jhiHasAnyAuthority="['ROLE_TEAM_MANAGER', 'ROLE_TEAM_MEMBER']" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <team-selection></team-selection>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                    id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                            (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <fa-icon icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.main">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
