<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-team-heading" jhiTranslate="hospitalmanagerApp.team.home.createOrEditLabel">Create or edit a Team</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!team.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.team.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.team.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label for="maximumWorkingWeekends" jhiTranslate="hospitalmanagerApp.team.maximumWorkingWeekends">Maximum Working Weekends</label>
                    <input type="number" class="form-control" id="maximumWorkingWeekends" name="maximumWorkingWeekends" formControlName="maximumWorkingWeekends"/>
                    <div *ngIf="editForm.get('maximumWorkingWeekends').invalid && (editForm.get('maximumWorkingWeekends').dirty || editForm.get('maximumWorkingWeekends').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maximumWorkingWeekends').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maximumWorkingWeekends').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{min: 0}">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maximumWorkingWeekends').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{max: 5}">
                            This field cannot be more than 5.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="minimumFreeDaysAfterNightShifts" jhiTranslate="hospitalmanagerApp.team.minimumFreeDaysAfterNightShifts">Maximum Working Weekends</label>
                    <input type="number" class="form-control" id="minimumFreeDaysAfterNightShifts" name="minimumFreeDaysAfterNightShifts" formControlName="minimumFreeDaysAfterNightShifts"/>
                    <div *ngIf="editForm.get('minimumFreeDaysAfterNightShifts').invalid && (editForm.get('minimumFreeDaysAfterNightShifts').dirty || editForm.get('minimumFreeDaysAfterNightShifts').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('minimumFreeDaysAfterNightShifts').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('minimumFreeDaysAfterNightShifts').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{min: 0}">
                            This field should be at least 0.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="field_managers" jhiTranslate="hospitalmanagerApp.team.managers">Team managers</label>
                </div>
                <div class="form-group">
                    <ss-multiselect-dropdown id="field_managers" [options]="teamManagers" formControlName="managers" [settings]="multiSelectSettings"
                                             (onAdded)="removeFromTeamMembers($event)" (onRemoved)="addToTeamMembers($event)"
                    ></ss-multiselect-dropdown>
                </div>

                <div class="form-group">
                    <label for="field_members" jhiTranslate="hospitalmanagerApp.team.members">Team members</label>
                </div>
                <div class="form-group">
                    <ss-multiselect-dropdown id="field_members" [options]="teamMembers" formControlName="members" [settings]="multiSelectSettings"
                                             (onAdded)="removeFromTeamManagers($event)" (onRemoved)="addToTeamManagers($event)"

                    ></ss-multiselect-dropdown>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
