<ng-select style="min-width: 170px;" [items]="teamList" bindLabel="name" autofocus bindValue="id" [clearable]="false"
    [(ngModel)]="selectedTeamId" (ngModelChange)="changedSelection()" [disabled]="disableTeamSelection">

    <ng-template ng-option-tmp let-item="item">
        <span class="badge badge-success" *ngIf="currentUserIsManagerInTeam(item)">M</span>
        <span>{{item.name}}</span>
    </ng-template>
</ng-select>