<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="priority">
            <h2><span jhiTranslate="hospitalmanagerApp.priority.detail.title">Priority</span> {{priority.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.priority.code">Code</span></dt>
                <dd>
                    <span>{{priority.code}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.priority.description">Description</span></dt>
                <dd>
                    <span>{{priority.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/priority', priority.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
