<div [class.hidden]="!show">
    <div class="loader-overlay">
        <div class="spinner-border text-primary loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
