<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shift-type-heading" jhiTranslate="hospitalmanagerApp.shiftType.home.createOrEditLabel">Create or
                edit a Shift Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!shiftType.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.name"
                        for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" formControlName="name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.description"
                        for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        formControlName="description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.displayCode"
                        for="field_description">Display Code</label>
                    <input type="text" class="form-control" name="description" id="field_displayCode"
                        formControlName="displayCode" maxlength="3" />
                </div>
                <!-- <div class="form-group">
                    <ng-template #canRepeatPopover><span
                            jhiTranslate="hospitalmanagerApp.shiftType.canRepeatPopover">Can Repeat</span></ng-template>
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.canRepeat"
                        for="field_canRepeat" [ngbPopover]="canRepeatPopover" triggers="mouseenter:mouseleave">Can
                        Repeat</label>
                    <input type="checkbox" class="form-control" name="canRepeat" id="field_canRepeat"
                        formControlName="canRepeat" />
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.startTime"
                        for="field_startTime">Start Time</label>
                    <ngb-timepicker id="field_startTime" [meridian]="false" [minuteStep]="15"
                        formControlName="startTime"></ngb-timepicker>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.duration"
                        for="field_duration">Duration</label>
                    <ng-select id="field_duration" formControlName="durationMillis" [items]="durations"
                        bindLabel="label" bindValue="value" autofocus maxSelectedItems=1 [closeOnSelect]="true">
                    </ng-select>
                </div>
                <!-- <div class="form-group">
                    <ng-template #fillWithRemainingPopover><span
                            jhiTranslate="hospitalmanagerApp.shiftType.fillWithRemainingPopover">Fill With
                            Remaining</span></ng-template>
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.fillWithRemaining"
                        for="field_fillWithRemaining" [ngbPopover]="fillWithRemainingPopover"
                        triggers="mouseenter:mouseleave">Fill With Remaining</label>
                    <input type="checkbox" class="form-control" name="fillWithRemaining" id="field_fillWithRemaining"
                        formControlName="fillWithRemaining" />
                </div> -->
                <div class="form-group">
                    <ng-template #noOfWorkersPopover><span
                            jhiTranslate="hospitalmanagerApp.shiftType.noOfWorkersPopover">No Of Workers</span>
                    </ng-template>
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.noOfWorkers"
                        for="field_noOfWorkers" [ngbPopover]="noOfWorkersPopover" triggers="mouseenter:mouseleave">No Of
                        Workers</label>
                    <input type="number" class="form-control" name="noOfWorkers" id="field_noOfWorkers"
                        formControlName="noOfWorkers" />
                </div>

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.priority"
                        for="field_priority">Priority</label>
                    <select class="form-control" id="field_priority" name="priority" formControlName="priorityId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="priorityOption.id"
                            *ngFor="let priorityOption of priorities; trackBy: trackPriorityById">
                            {{priorityOption.description}}</option>
                    </select>
                </div> -->
                <!-- <div class="form-group">
                    <ng-template #mandatoryPopover><span
                            jhiTranslate="hospitalmanagerApp.shiftType.mandatory">Mandatory</span></ng-template>
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.shiftType.mandatory"
                        for="field_mandatory" triggers="mouseenter:mouseleave">Mandatory?</label>
                    <input type="checkbox" class="form-control" name="mandatory" id="field_mandatory"
                        formControlName="mandatory" />
                </div> -->
                <custom-timepicker></custom-timepicker>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
