<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.shiftType.home.title">Shift Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shift-type"
            [routerLink]="['/shift-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="hospitalmanagerApp.shiftType.home.createLabel">
                Create new Shift Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="shiftTypes">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="name"><span jhiTranslate="hospitalmanagerApp.shiftType.name">Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="description"><span
                            jhiTranslate="hospitalmanagerApp.shiftType.description">Description</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="canRepeat"><span jhiTranslate="hospitalmanagerApp.shiftType.canRepeat">Can
                            Repeat</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="startHour"><span jhiTranslate="hospitalmanagerApp.shiftType.startHour">Start
                            Hour</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="startMinute"><span jhiTranslate="hospitalmanagerApp.shiftType.startMinute">Start
                            Minute</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="duration"><span jhiTranslate="hospitalmanagerApp.shiftType.duration">Duration</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fillWithRemaining"><span
                            jhiTranslate="hospitalmanagerApp.shiftType.fillWithRemaining">Fill With Remaining</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="mandatory"><span
                            jhiTranslate="hospitalmanagerApp.shiftType.mandatory">Mandatory</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="priorityId"><span
                            jhiTranslate="hospitalmanagerApp.shiftType.priority">Priority</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>

                    <th></th>
                </tr>
                <tr>
                    <th><input type="text" class="form-control" [(ngModel)]="nameFilter"
                            (ngModelChange)="filterChanged()" /></th>
                    <th><input type="text" class="form-control" [(ngModel)]="descriptionFilter"
                            (ngModelChange)="filterChanged()" /></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckbox1"
                                [(ngModel)]="mandatoryFilter" (ngModelChange)="loadAll()">
                            <label class="custom-control-label" for="customCheckbox1"></label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shiftType of shiftTypes ;trackBy: trackId">
                    <td>{{shiftType.name}}</td>
                    <td>{{shiftType.description}}</td>
                    <td>{{shiftType.canRepeat}}</td>
                    <td>{{shiftType.startHour}}</td>
                    <td>{{shiftType.startMinute}}</td>
                    <td>{{shiftType.durationMillis | formatMillisToHourMinutes}}</td>

                    <td>{{shiftType.fillWithRemaining}}</td>
                    <td>{{shiftType.mandatory}}</td>
                    <td>
                        <div *ngIf="shiftType.priorityId">
                            <a
                                [routerLink]="['../priority', shiftType.priorityId , 'view' ]">{{shiftType.priorityCode}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/shift-type', shiftType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/shift-type', shiftType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'shift-type', { outlets: { popup: shiftType.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shiftTypes && shiftTypes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
