<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shiftType">
            <h2><span jhiTranslate="hospitalmanagerApp.shiftType.detail.title">Shift Type</span> {{shiftType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.name">Name</span></dt>
                <dd>
                    <span>{{shiftType.name}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.code">Code</span></dt>
                <dd>
                    <span>{{shiftType.code}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.active">Active</span></dt>
                <dd>
                    <span>{{shiftType.active}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.description">Description</span></dt>
                <dd>
                    <span>{{shiftType.description}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.canRepeat">Can Repeat</span></dt>
                <dd>
                    <span>{{shiftType.canRepeat}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.startHour">Start Hour</span></dt>
                <dd>
                    <span>{{shiftType.startHour}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.startMinute">Start Minute</span></dt>
                <dd>
                    <span>{{shiftType.startMinute}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.duration">Duration</span></dt>
                <dd>
                    <span>{{shiftType.duration}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.fillWithRemaining">Fill With Remaining</span></dt>
                <dd>
                    <span>{{shiftType.fillWithRemaining}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.noOfWorkers">No Of Workers</span></dt>
                <dd>
                    <span>{{shiftType.noOfWorkers}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.mandatory">Mandatory</span></dt>
                <dd>
                    <span>{{shiftType.mandatory}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftType.priority">Priority</span></dt>
                <dd>
                    <div *ngIf="shiftType.priorityId">
                        <a [routerLink]="['/priority', shiftType.priorityId, 'view']">{{shiftType.priorityId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shift-type', shiftType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
