<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.shiftWorker.home.title">Shift Workers</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <form class="form-inline">
        <div class="form-group mb-2">
            <div class="input-group">
                <input id="field_fromDate" type="search" class="form-control" name="fromDate" ngbDatepicker  #fromDateDP="ngbDatepicker" ngbTooltip="From" [(ngModel)]="fromDate" (click)="fromDateDP.toggle()"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fromDateDP.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <div class="input-group">
                <input id="field_toDate" type="search" class="form-control" name="toDate" ngbDatepicker  #toDateDP="ngbDatepicker" ngbTooltip="To" [(ngModel)]="toDate" (click)="toDateDP.toggle()"/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="toDateDP.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" (click)="generateShifts()">Generate</button>
    </form>
    <div class="alert alert-warning" *ngIf="shiftWorkers?.length === 0">
        <span jhiTranslate="hospitalmanagerApp.shiftWorker.home.notFound">No shiftWorkers found</span>
    </div>
    <div class="table-responsive" *ngIf="shiftWorkers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shiftId"><span jhiTranslate="hospitalmanagerApp.shiftWorker.shift">Shift</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shiftDate"><span jhiTranslate="hospitalmanagerApp.shiftWorker.shiftDate">Shift Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="workerId"><span jhiTranslate="hospitalmanagerApp.shiftWorker.worker">Worker</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shiftWorker of shiftWorkers ;trackBy: trackId">
                <td><a [routerLink]="['/shift-worker', shiftWorker.id, 'view' ]">{{shiftWorker.id}}</a></td>
                <td>
                    <div *ngIf="shiftWorker.shiftId">
                        <a [routerLink]="['../shift', shiftWorker.shiftId , 'view' ]" >{{shiftWorker.shiftId == null ? '' : shiftWorker.shift.shiftTypeId == null ? '' : shiftWorker.shift.shiftType.name}}</a>
                    </div>
                </td>
                <td>
                    {{shiftWorker.shiftId == null ? '' : shiftWorker.shift.date}}
                </td>
                <td>
                    {{shiftWorker.workerId == null ? '' : shiftWorker.worker.firstName + ' ' + shiftWorker.worker.lastName }}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shift-worker', shiftWorker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shift-worker', shiftWorker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shift-worker', { outlets: { popup: shiftWorker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="shiftWorkers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
