<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shiftWorker">
            <h2><span jhiTranslate="hospitalmanagerApp.shiftWorker.detail.title">Shift Worker</span> {{shiftWorker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.shiftWorker.shift">Shift</span></dt>
                <dd>
                    <div *ngIf="shiftWorker.shiftId">
                        <a [routerLink]="['/shift', shiftWorker.shiftId, 'view']">{{shiftWorker.shiftId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.shiftWorker.worker">Worker</span></dt>
                <dd>
                    {{shiftWorker.workerId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shift-worker', shiftWorker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
