<div>
    <h2 id="page-heading">
        <span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.home.title">Day Config Shift Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-day-config-shift-type" [routerLink]="['/day-config-shift-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hospitalmanagerApp.dayConfigShiftType.home.createLabel">
            Create new Day Config Shift Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dayConfigShiftTypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noOfWorkers"><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.noOfWorkers">No Of Workers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dayConfigId"><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.dayConfig">Day Config</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shiftTypeId"><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.shiftType">Shift Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dayConfigShiftType of dayConfigShiftTypes ;trackBy: trackId">
                <td><a [routerLink]="['/day-config-shift-type', dayConfigShiftType.id, 'view' ]">{{dayConfigShiftType.id}}</a></td>
                <td>{{dayConfigShiftType.noOfWorkers}}</td>
                <td>
                    <div *ngIf="dayConfigShiftType.dayConfigId">
                        <a [routerLink]="['../day-config', dayConfigShiftType.dayConfigId , 'view' ]" >{{dayConfigShiftType.dayConfigId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dayConfigShiftType.shiftTypeId">
                        <a [routerLink]="['../shift-type', dayConfigShiftType.shiftTypeId , 'view' ]" >{{dayConfigShiftType.shiftTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/day-config-shift-type', dayConfigShiftType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/day-config-shift-type', dayConfigShiftType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'day-config-shift-type', { outlets: { popup: dayConfigShiftType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dayConfigShiftTypes && dayConfigShiftTypes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
