<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dayConfigShiftType">
            <h2><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.detail.title">Day Config Shift Type</span> {{dayConfigShiftType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.noOfWorkers">No Of Workers</span></dt>
                <dd>
                    <span>{{dayConfigShiftType.noOfWorkers}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.dayConfig">Day Config</span></dt>
                <dd>
                    <div *ngIf="dayConfigShiftType.dayConfigId">
                        <a [routerLink]="['/day-config', dayConfigShiftType.dayConfigId, 'view']">{{dayConfigShiftType.dayConfigId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.dayConfigShiftType.shiftType">Shift Type</span></dt>
                <dd>
                    <div *ngIf="dayConfigShiftType.shiftTypeId">
                        <a [routerLink]="['/shift-type', dayConfigShiftType.shiftTypeId, 'view']">{{dayConfigShiftType.shiftTypeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/day-config-shift-type', dayConfigShiftType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
