<div class="form-group mx-sm-3 mb-2">
        <ng-select style="min-width: 130px;" name="month" [items]="months$ | async" [(ngModel)]="selectedMonth" maxSelectedItems=1
            bindLabel="label" bindValue="id" [clearable]="false" [closeOnSelect]="true" (change)="onSelectionChange()">
        </ng-select>
        <ng-select name="year" style="min-width: 70px;" [items]="years" [(ngModel)]="selectedYear"
            maxSelectedItems=1 [clearable]="false" [closeOnSelect]="true" (change)="onSelectionChange()">
        </ng-select>
</div>
