<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-day-config-heading" jhiTranslate="hospitalmanagerApp.dayConfig.home.createOrEditLabel">Create or
                edit a Day Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.dayConfig.date"
                           for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="date" class="form-control" name="date" ngbDatepicker
                               #dateDp="ngbDatepicker" formControlName="date" readonly/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()" disabled>
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <ng-template #createWholeMonthPopover><span
                        jhiTranslate="hospitalmanagerApp.dayConfig.createWholeMonthPopover">Create/Update whole
                            month</span></ng-template>
                    <label class="form-control-label" jhiTranslate="hospitalmanagerApp.dayConfig.createWholeMonth"
                           for="field_createWholeMonth" [ngbPopover]="createWholeMonthPopover"
                           triggers="mouseenter:mouseleave">Create/Update whole month</label>
                    <input type="checkbox" class="form-control" name="isBankHoliday" id="field_createWholeMonth"
                           style="width: 2%;" formControlName="createWholeMonth"/>
                </div>
                <ng-container>
                    <span>Month: {{editForm.get('date').value.format('M')}}</span>
                    <span>Year: {{editForm.get('date').value.format('YYYY')}}</span>
                    <div class="form-group" style="padding-top: 20px">
                        <label for="field_weekDays" jhiTranslate="hospitalmanagerApp.dayConfig.weekDays">Days of
                            week</label>
                    </div>
                    <div class="form-group">
                        <ng-select id="field_weekDays" formControlName="weekDays" [items]="weekDays" bindLabel="name"
                                   autofocus bindValue="id" multiple="true" [closeOnSelect]="false"></ng-select>
                    </div>
                </ng-container>
                <div class="form-group">
                    <label for="field_shiftTypes" jhiTranslate="hospitalmanagerApp.dayConfig.shiftTypes">Shift
                        Types</label>
                    <ng-select id="field_shiftTypes" formControlName="shiftTypeSelect" [items]="shiftTypes"
                               bindLabel="name" autofocus bindValue="id" multiple="true" [closeOnSelect]="false"
                               (change)="shiftTypeSelectChanged($event)"></ng-select>
                </div>
                <div formArrayName="dayConfigShiftTypes">
                    <div class="row">
                        <div class="col-md-4"
                             *ngFor="let dConfShiftType of dayConfigShiftTypes.controls;let shiftTypeIndex=index;"
                             [formGroupName]="shiftTypeIndex">
                            <div class="card mb-2 mx-2 ">
                            <span class="card-header container-fluid">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>{{dConfShiftType.get('shiftTypeName').value}}</h5>
                                        <h6 *ngIf="hasSpecializations$ | async" class="card-subtitle mb-2 text-muted"
                                            jhiTranslate="hospitalmanagerApp.dayConfig.noOfWorkers" [translateValues]="{noOfWorkers: countNoOfWorkers(shiftTypeIndex)}">1 workers needed</h6>
                                        <div
                                            *ngIf="dConfShiftType.get('specializationsArray').invalid && (dConfShiftType.get('specializationsArray').dirty || dConfShiftType.get('specializationsArray').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="dConfShiftType.get('specializationsArray').errors"
                                                   jhiTranslate="entity.validation.unique">
                                                Please select unique specializations.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-4 float-right">
                                        <button *ngIf="hasSpecializations$ | async else noOfWorkersWithoutSpecs"
                                                type="button" class="btn btn-primary btn-md float-right"
                                                (click)="addSpecialization(shiftTypeIndex)"
                                                ngbTooltip="Add specialization">
                                                <fa-icon [icon]="'plus'"></fa-icon>
                                            </button>
                                    </div>
                                    <ng-template #noOfWorkersWithoutSpecs>
                                        <input type="number" class="form-control" ngbTooltip="No Of workers"
                                               formControlName="noOfWorkers">
                                        <div
                                            *ngIf="dConfShiftType.get('noOfWorkers').invalid && (dConfShiftType.get('noOfWorkers').dirty || dConfShiftType.get('noOfWorkers').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="dConfShiftType.get('noOfWorkers').errors.required"
                                                   jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="dConfShiftType.get('noOfWorkers').errors.min"
                                                   jhiTranslate="entity.validation.min" [translateValues]="{min: 1}">
                                                This field should be at least 1.
                                            </small>
                                        </div>
                                    </ng-template>
                                </div>
                            </span>
                                <ul *ngIf = "hasSpecializations$ | async" class="list-group list-group-flush" formArrayName="specializationsArray">
                                    <li *ngFor="let dayConfShiftTypeSpec of getSpecializationsConfig(shiftTypeIndex).controls;let specializationIndex=index;"
                                        [formGroupName]="specializationIndex" class="list-group-item">
                                        <div class="float-left w-50">
                                            <ng-select
                                                       formControlName="specializationId"
                                                       [items]="specializations" bindLabel="name" bindValue="id"
                                                       [clearable]="true"></ng-select>
                                            <div
                                                *ngIf="dayConfShiftTypeSpec.get('specializationId').invalid && (dayConfShiftTypeSpec.get('specializationId').dirty || dayConfShiftTypeSpec.get('specializationId').touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="dayConfShiftTypeSpec.get('specializationId').errors.required"
                                                       jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3 w-25 float-right">
                                            <input type="number" min="0" class="form-control"
                                                   formControlName="noOfWorkers"/>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" (click)="getSpecializationsConfig(shiftTypeIndex).removeAt(specializationIndex)">
                                                    <fa-icon [icon]="'trash'"></fa-icon>
                                                </button>
                                            </div>
                                            <div
                                                *ngIf="dayConfShiftTypeSpec.get('noOfWorkers').invalid && (dayConfShiftTypeSpec.get('noOfWorkers').dirty || dayConfShiftTypeSpec.get('noOfWorkers').touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="dayConfShiftTypeSpec.get('noOfWorkers').errors.required"
                                                       jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>
                                                <small class="form-text text-danger"
                                                       *ngIf="dayConfShiftTypeSpec.get('noOfWorkers').errors.min"
                                                       jhiTranslate="entity.validation.min" [translateValues]="{min: 1}">
                                                    This field should be at least 1.
                                                </small>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
