<ng-template #eventActionsTemplate let-event="event">
    <div class="btn-group">
        <button (click)="eventAction('Edit', event)" class="btn btn-primary btn-sm" type="submit">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button (click)="eventAction('Remove', event)" class="btn btn-danger btn-sm" type="submit">
            <fa-icon [icon]="'times'"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</ng-template>
<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <ng-container *ngIf="day.events.length > 0">
        <div class="badge badge-secondary">
            <span *ngIf="!(hasSpecializations$ | async)" style="float: left" class="text-left">
                <div *ngFor="let dayConfigShiftType of day.events[0].dayConfig.dayConfigShiftTypes">
                    <b><span>{{dayConfigShiftType.shiftType.name}} -
                        {{dayConfigShiftType.noOfWorkers}}</span></b>
                </div>
            </span>
            <span *ngIf="hasSpecializations$ | async" style="float: left" class="text-left">
                <div *ngFor="let dayConfigShiftType of day.events[0].dayConfig.dayConfigShiftTypes">
                    <div *ngIf="dayConfigShiftType.specializations && dayConfigShiftType.specializations.length > 0 else missingSpecs">
                        <div *ngFor="let dayConfigShiftTypeSpec of dayConfigShiftType.specializations">
                        <b>
                            <span>{{dayConfigShiftType.shiftType.name}} -
                                {{dayConfigShiftTypeSpec.specialization ? dayConfigShiftTypeSpec.specialization.name : ''}}
                                {{dayConfigShiftTypeSpec.noOfWorkers}}</span></b>
                        </div>
                    </div>
                    <ng-template #missingSpecs>
                        <span>No specialization configured</span>
                    </ng-template>
                </div>
            </span>
            <span style="float: right; vertical-align: middle;">
                <a (click)="eventAction('Edit', day.events[0])">
                    <fa-icon ngbTooltip="Edit" [icon]="'pencil-alt'"></fa-icon>
                </a>
                <a (click)="eventAction('Remove', day.events[0])">
                    <fa-icon ngbTooltip="Delete" [icon]="'times'"></fa-icon>
                </a>
            </span>
        </div>
    </ng-container>
</ng-template>
<ng-template #explanationPopoverContent><span jhiTranslate="hospitalmanagerApp.dayConfig.explain.content">Explain
        content</span>
</ng-template>
<div>
    <h2 id="page-heading">
        <span class="red-test" jhiTranslate="hospitalmanagerApp.dayConfig.home.title">Day Configs</span>
        <fa-icon [ngbPopover]="explanationPopoverContent" triggers="mouseenter:mouseleave" class="d-none d-md-inline"
                 style="cursor: pointer;" [icon]="'question-circle'"></fa-icon>
    </h2>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <button class="btn btn-danger float-right" (click)="clear()">
            <fa-icon [icon]="'trash'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.clear">Clear</span>
        </button>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }} {{ getWeekNumbers() }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div (viewDateChange)="viewDateChanged($event)" [(viewDate)]="viewDate" [view]="view"
                 class="btn btn-primary" mwlCalendarPreviousView>
                Previous
            </div>
            <div (viewDateChange)="viewDateChanged($event)" [(viewDate)]="viewDate" class="btn btn-outline-secondary"
                 mwlCalendarToday>
                Today
            </div>
            <div (viewDateChange)="viewDateChanged($event)" [(viewDate)]="viewDate" [view]="view"
                 class="btn btn-primary" mwlCalendarNextView>
                Next
            </div>
        </div>
    </div>
</div>
<br/>
<div [ngSwitch]="view">
    <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" (eventTimesChanged)="eventTimesChanged($event)"
                             (beforeViewRender)="beforeMonthViewRender($event)" *ngSwitchCase="CalendarView.Month"
                             [activeDayIsOpen]="activeDayIsOpen" [cellTemplate]="customCellTemplate"
                             [eventActionsTemplate]="eventActionsTemplate" [events]="events" [refresh]="refresh"
                             [viewDate]="viewDate"
                             weekStartsOn="1"></mwl-calendar-month-view>
</div>
