<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dayConfig">
            <h2><span jhiTranslate="hospitalmanagerApp.dayConfig.detail.title">Day Config</span> {{dayConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalmanagerApp.dayConfig.date">Date</span></dt>
                <dd>
                    <span>{{dayConfig.date}}</span>
                </dd>
                <dt><span jhiTranslate="hospitalmanagerApp.dayConfig.isBankHoliday">Is Bank Holiday</span></dt>
                <dd>
                    <span>{{dayConfig.isBankHoliday}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/day-config', dayConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
