cal-day-top-left {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 15px;
  float: left;
  margin-bottom: 10px;
  color: red !important;
}

red-test {
  color: red !important;
}
